@import "@/styles/variables";

.button {
  padding: 10px;
  width: 182px;
  color: $lightGray;
  font-size: 20px;
  line-height: 30px;
  outline: 0.5px solid $lightGray;
  border-radius: 50px;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;

  &:disabled {
    pointer-events: none;
    color: $darkGrayDisabled;
    background: $lightGrayDisabled;
    outline: none;
  }

  &:hover {
    outline: none;
    color: #fff;
    background: $blueViolet;
  }

  &.followed {
    &:hover {
      outline: none;
      color: #fff;
      background: $red;
    }
  }

  @media (max-width: 620px) {
    margin-left: 0;
  }
}
