@import "@/styles/variables";

.loginFormButton {
  padding: 12px 93px;
}

.loginFormRemember {
  margin-top: 25px;
}

.loginFormRememberButton {
  width: 25px;
  height: 25px;
  border: 2px solid $lightGray;
  border-radius: 20px;
  background-color: white;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:checked {
    border-color: $blueViolet;

    & ~ .loginFormRememberText {
      color: $blueViolet;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
    }

    &:after {
      content: "✔";
      position: absolute;
      left: 5px;
      top: 0;
      color: $blueViolet;
      font-size: 14px;
    }
  }
}

.loginFormRememberText {
  color: $lightGray;
  font-size: 20px;
  font-weight: 500;
}
