@import "@/styles/variables";

.inner {
  width: 267px;
}

.input {
  width: 267px;
  border: 0.5px solid $lightGray;
  border-radius: 25px;
  background: rgb(255, 255, 255);
  padding: 6px 12px;
  color: $secondary;
  font-size: 12px;
  text-align: left;
  transition: all 0.2s ease-in-out;

  &:focus {
    border-color: $darkGray;
  }

  &:focus ~ .searchIcon {
    path {
      fill: $darkGray;
    }
  }

  &::placeholder {
    color: $lightGray;
  }
}

.searchIcon {
  position: absolute;
  right: 18px;
  top: 9px;
  cursor: pointer;

  path {
    transition: all 0.2s ease-in-out;
  }
}
