@import "@/styles/variables";

.intro {
  margin-top: 60px;
}

.introText {
  margin-bottom: 80px;
}

.introTitle {
  font-size: 50px;
  font-weight: 800;
  color: $darkGray;

  span {
    color: $blueViolet;
  }

  @media (max-width: 900px) {
    width: 100%;
    font-size: clamp(25px, 5vw, 50px);
    line-height: clamp(30px, 5vw, 40px);
  }
}

.introDesc {
  font-size: 25px;
  font-weight: 800;
  color: $darkGray;
  text-align: center;
  width: 610px;
  line-height: 37px;
  margin-top: 20px;

  span {
    color: $blueViolet;
  }

  @media (max-width: 900px) {
    width: 100%;
    font-size: clamp(10px, 5vw, 25px);
    line-height: clamp(30px, 5vw, 40px);
  }
}

.programsList {
  border-top: 3px dashed rgb(196, 196, 196);
  border-bottom: 3px dashed rgb(196, 196, 196);
  padding: 40px 0;
}

.ourGoal {
  margin-top: 100px;
  border-top: 3px dashed rgb(196, 196, 196);
  border-bottom: 3px dashed rgb(196, 196, 196);
  padding: 40px 0;
}

.ourGoalImg {
  @media (max-width: 900px) {
    display: none;
  }
}

.ourGoalTop {
  @media (max-width: 900px) {
    gap: clamp(20px, 5vw, 32px);
  }
}

.ourGoalTitle {
  color: $blue;
  font-size: 50px;
  font-weight: 800;

  @media (max-width: 900px) {
    width: 100%;
    font-size: clamp(30px, 5vw, 50px);
    line-height: clamp(30px, 5vw, 40px);
  }
}

.ourGoalDesc {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  color: $secondary;
  margin-top: 20px;

  span {
    color: $blue;
  }

  @media (max-width: 900px) {
    width: 100%;
    font-size: clamp(25px, 5vw, 30px);
    line-height: clamp(35px, 5vw, 45px);
  }
}

.features {
  margin-top: 100px;
}

.featuresTop {
  margin-bottom: 55px;
}

.featuresTitle {
  color: $blue;
  font-size: 50px;
  font-weight: 800;

  @media (max-width: 900px) {
    width: 100%;
    font-size: clamp(30px, 5vw, 50px);
    line-height: clamp(30px, 5vw, 40px);
  }
}

.registerNow {
  margin-top: 100px;
  margin-bottom: 100px;
  border-top: 3px dashed rgb(196, 196, 196);
  border-bottom: 3px dashed rgb(196, 196, 196);
  padding: 40px 0;
}

.registerNowImg {
  @media (max-width: 1100px) {
    display: none;
  }
}

.registerNowBlock {
  @media (max-width: 1100px) {
    gap: 20px;
  }
}

.registerNowArrow {
  @media (max-width: 376px) {
    display: none;
  }
}

.registerNowTitle {
  color: $blue;
  font-size: 50px;
  font-weight: 800;

  @media (max-width: 900px) {
    width: 100%;
    font-size: clamp(30px, 5vw, 50px);
    line-height: clamp(30px, 5vw, 40px);
  }
}

.registerNowDesc {
  color: $darkGray;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  margin-top: 75px;

  span {
    color: $blue;
  }

  @media (max-width: 900px) {
    width: 100%;
    font-size: clamp(25px, 5vw, 30px);
    line-height: clamp(35px, 5vw, 45px);
  }

  @media (max-width: 376px) {
    margin-top: 25px;
  }
}

.registerNowBtn {
  border-radius: 20px;
  background: $blue;
  color: #fff;
  font-size: 23px;
  font-weight: 800;
  padding: 13px 0;
  width: 350px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $blue;
    background-color: #fff;
    box-shadow: 0 0 0 2px $blue inset;
  }

  @media (max-width: 376px) {
    width: 100%;
  }
}
