@import "@/styles/variables";

.preview {
  width: 100%;
  max-width: 300px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 400px;

  @media (max-width: 450px) {
    width: calc(100vw - 20px);
  }
}

.closeButton {
  cursor: pointer;
  color: $secondary;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.2s ease-in-out;

  svg {
    circle {
      fill: #fff;
    }

    path {
      fill: $darkGray;
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    svg {
      circle {
        fill: #fff;
      }

      path {
        fill: $blueViolet;
      }
    }
  }
}

.label {
  display: block;
  margin-bottom: 10px;
}

.submitButton {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  margin-top: 20px;
  padding: 10px 0;
  border-radius: 50px;
  background: $primary;
  transition: all 0.2s ease-in-out;
  width: 100%;

  &:disabled {
    pointer-events: none;
    background: $lightGrayDisabled;
    color: $darkGrayDisabled;
  }

  &:hover {
    background: #fff;
    outline: 1px solid $primary;
    color: $primary;
  }
}

.changeAvatarButton {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;

  svg {
    path {
      transition: fill 0.2s ease-in-out;
    }
  }

  &:hover {
    box-shadow: none;
    background: $blueViolet;

    svg {
      path {
        fill: #fff;
      }
    }
  }
}
