@import "@/styles/variables";

.content {
  width: 100%;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}

.top {
  margin-bottom: 30px;
}

.avatar {
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  svg {
    width: 50px;
    height: 50px;
  }
}

.login {
  color: $blueViolet;
  font-size: 20px;
  font-weight: 800;
  margin-left: 20px;
}

.createdAt {
  color: $secondary;
  font-size: 15px;
  font-weight: 500;
}

.body {
  color: $secondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
}

.programsBlockTitle {
  color: $darkGray;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
}

.programs {
  gap: 10px;
}

.tags {
  color: $darkGray;
  font-size: 20px;
  font-weight: 500;
  gap: 20px;
  margin-top: 15px;
}

.tag {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $blueViolet;
  }
}

.commentsBlockTop {
  margin-top: 40px;
  margin-bottom: 20px;

  @media (max-width: 470px) {
    flex-direction: column;
  }
}

.commentsBlockTitle {
  color: $darkGray;
  font-size: 25px;
  font-weight: 800;
}

.commentsShowAllBtn {
  color: $secondary;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  svg {
    path:nth-child(2) {
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    color: $blueViolet;

    svg {
      path:nth-child(2) {
        stroke: $blueViolet;
      }
    }
  }
}

.commentsBlockInput {
  margin-top: 30px;
}

.commentInputBlock {
  width: 100%;
}

.attachButton {
  position: absolute;
  left: 16px;
  top: 16px;
  cursor: pointer;

  path {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    path {
      fill: $darkGray;
    }
  }
}

.commentInput {
  border: 2px solid $lightGray;
  border-radius: 20px;
  background: #fff;
  padding-left: 53px;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  font-size: 20px;
  color: $darkGray;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:focus {
    border-color: $darkGray;
  }

  &::placeholder {
    color: $lightGray;
  }
}

.commentSendBtn {
  border-radius: 20px;
  background: $darkGray;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  padding: 14px 46px;
  margin-left: 25px;
  transition: all 0.2s ease-in-out;

  svg {
    display: none;
  }

  &:hover {
    color: #fff;
    background: $blueViolet;
  }

  &:disabled {
    color: $darkGrayDisabled;
    background: $lightGrayDisabled;

    svg {
      path {
        fill: $darkGrayDisabled;
      }
    }
  }

  @media (max-width: 615px) {
    padding: 14px;

    span {
      display: none;
    }

    svg {
      display: flex;

      path {
        fill: #fff;
      }
    }
  }
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  margin-left: 10px;

  svg {
    width: 40px;
    height: 40px;

    path {
      transition: all 0.2s ease-in-out;
    }

    circle {
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    svg {
      path {
        fill: $blueViolet;
      }

      circle {
        fill: #fff;
      }
    }
  }
}

.content:hover .deleteButton {
  display: block;
}

.attachedFiles {
  margin-top: 20px;
  gap: 15px;
}

.attachedFile {
  width: 445px;
  border: 2px solid $lightGray;
  border-radius: 20px;
  background: #fff;
  padding: 14px 24px 14px 14px;
}

.attachedFileName {
  color: $darkGray;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.attachedFileSize {
  color: $lightGray;
  font-size: 10px;
  font-weight: 500;
}

.attachFileRemove {
  &:disabled {
    display: none;
  }

  svg {
    circle,
    path {
      transition: stroke 0.2s ease-in-out;
    }
  }
  &:hover {
    svg {
      circle,
      path {
        stroke: $blueViolet;
      }
    }
  }
}

.attachedFilesError {
  border: 5px solid rgb(255, 239, 204);
  border-radius: 20px;
  background: rgb(255, 190, 46);
  width: 445px;
  padding: 20px 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.attachedFileErrorText {
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}
