@import "@/styles/variables";

.avatar {
  margin-right: 20px;

  svg {
    width: 50px;
    height: 50px;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.login {
  color: $blueViolet;
  font-size: 20px;
  font-weight: 800;
}

.createdAt {
  color: $secondary;
  font-size: 15px;
  font-weight: 500;
}

.text {
  color: $secondary;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.replyBtn {
  color: $lightGray;
  font-size: 20px;
  font-weight: 800;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $darkGray;
  }
}

.commentItem {
  position: relative;
  padding: 10px;

  &:hover .deleteButton {
    display: block;
  }
}

.deleteButton {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    path {
      transition: all 0.2s ease-in-out;
    }

    circle {
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    svg {
      path {
        fill: $blueViolet;
      }

      circle {
        fill: #fff;
      }
    }
  }
}
