@import "@/styles/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

input,
button,
textarea {
  outline: none;
}

.dashed {
  border-top: 3px dashed rgb(196, 196, 196);
  border-bottom: 3px dashed rgb(196, 196, 196);
  margin: 60px 0;
  padding-bottom: 60px;
}

.desktop-only {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}

.mobile-only {
  display: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

//Auth form

.authForm {
  width: 513px;
  padding: 45px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 20px;
  margin-top: 60px;

  @media (max-width: 520px) {
    width: 100%;
    padding: 20px;
  }
}

.authFormTitle {
  background: linear-gradient(180deg, $blueViolet, $lightViolet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 40px;
}

.authFormInput {
  box-sizing: border-box;
  border: 2px solid $lightGray;
  border-radius: 20px;
  padding: 14px;
  font-size: 20px;
  font-weight: 500;
  color: $darkGray;
  transition: all 0.2s ease-in-out;
  width: 100%;

  &::placeholder {
    color: $lightGray;
  }

  &:focus {
    border: 2px solid $blueViolet;
  }
}

.authFormCheckbox {
  border: 2px solid $lightGray;
}

.authFormLabel {
  color: $lightGray;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-left: 15px;
}

.formFieldError,
.formFieldMainError {
  color: $red;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formFieldMainError {
  font-size: 20px;
}

.authFormBottom {
  margin-top: 30px;

  @media (max-width: 520px) {
    flex-direction: column;
    gap: 20px;
  }
}

.authFormButton {
  border-radius: 20px;
  background: $primary;
  color: #fff;
  font-size: 23px;
  font-weight: 800;
  padding: 13px 42px;
  transition: all 0.2s ease-in-out;

  &:disabled {
    background: $lightGrayDisabled;
    color: $darkGrayDisabled;
    pointer-events: none;
  }

  &:hover {
    background: $blueViolet;
  }

  @media (max-width: 520px) {
    width: 100%;
  }
}

.authFormLink {
  color: $lightViolet;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $blueViolet;
  }
}

//Editor

.cdx-input.image-tool__caption {
  display: none !important;
}

.image-tool__image-picture {
  width: 30%;
  border-radius: 20px;
  margin: 0 auto;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 1050px;
}

.ce-paragraph,
.cdx-block {
  color: $darkGray;
  font-size: 20px;
  font-weight: 500;

  &:before {
    color: $lightGray !important;
    font-size: 20px !important;
    font-weight: 500 !important;
  }
}

.selectedProgram-enter {
  opacity: 0;
  transform: scale(0.9);
}

.selectedProgram-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.selectedProgram-exit {
  opacity: 1;
}

.selectedProgram-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

//Likes

.likesCountUnliked,
.likesCountLiked {
  font-size: 20px;
  font-weight: 500;
}

.likesCountLiked {
  color: $red;
}

.likesCountUnliked {
  color: $secondary;
}

.viewsCount {
  color: $secondary;
  font-size: 20px;
  font-weight: 500;
}

// 404 page

.not-fount-title {
  color: $red;
  font-size: 25px;
}

.not-fount-desc {
  color: $darkGray;
  font-size: 20px;
  font-weight: 400;
}
