$primary: #9579e2;
$secondary: #555d60;

$lightGray: #cecece;
$blue: #1f7bcf;
$green: #1fcf68;
$red: #cf1f1f;
$blueViolet: #4f1fcf;
$lightViolet: #b9a5ec;
$darkGray: #2f2f2f;
$violet: #724cd9;

$lightGrayDisabled: #e4e4e4;
$darkGrayDisabled: #a7a7a7;
